@using OnePageProject2.ViewModels.AppUser

@{
    ViewData["Title"] = "Login";
}

@model LoginVM

<div class="register-box container" style="padding-top:90px">

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Login</p>

            <form method="post">
                <div class="input-group mb-3">
                    <input asp-for="UserName" class="form-control" placeholder="Surname"><br />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="Password" class="form-control" placeholder="Password"><br />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input asp-for="IsParsistance" class="form-check-input">
                        <label asp-for="IsParsistance" class="form-check-label">
                            Remember me
                        </label>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            </form>
            <div asp-validation-summary="ModelOnly"></div>

            <a asp-controller="Account" asp-action="Register" class="text-center">go to register</a>
        </div>
    </div>
</div>