@model Dictionary<string,string>

<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            @*<h1><a href="index.html"><span>e</span>Business</a></h1>*@
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html"><img src='@Model.["Logo"]' alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li><a href="blog.html">Blog</a></li>

                @if (User.Identity.IsAuthenticated)
                {

                    <li class="dropdown">
                        <a href="#"><span><img style="width:20px;background-color:white" src="~/assets/user/userr/user.png" /></span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a >@User.Identity.Name</a></li>
                            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                        </ul>
                    </li>

                }

                else
                {
                    <li class="dropdown">
                        <a href="#"><span><img style="width:20px;background-color:white" src="~/assets/user/key/key.png" /></span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        </ul>
                    </li>
                }

                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>